*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f3adad;
}

/* Header */
header{
    padding:20px 60px;
    border-bottom:1px solid #ddd;
    background:#f3adad;
    position:sticky;top:0;
    
}

.logo{
    display:inline-block;   /* inline-block */
    font-size:30px;
    font-weight:bold;
}

.logo span{
    color:#000000;
}
#menu-toggle{
    display:none;
}

.menu-btn{
    display:none;
}

nav{
    display:inline-block;   /* inline-block */
    float:right;
}

nav ul li{
    display:inline-block;   /* inline-block */
    margin-left:40px;
}

nav ul li a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}

/* Hero */
.hero{
    padding:60px;
    background:#f3adad;
    
}

.hero-text{
    display:inline-block;   /* inline-block */
    width:48%;
    vertical-align:middle;
}

.hero-text h1{
    color:#000000;
    font-size:55px;
    margin:15px 0;
}

.hero-text h3{
    font-size:35px;
    margin-bottom:20px;
}

.hero-text p{
    font-size:22px;
    line-height:1.6;
    margin-bottom:25px;
}

.hero-text button{
    padding:15px 30px;
    background:#2563eb;
    color:rgb(249, 249, 249);
    border:none;
    border-radius:5px;
    cursor:pointer;
}

.hero-image{
    display:inline-block;   /* inline-block */
    width:48%;
    text-align:center;
    vertical-align:middle;
}

.hero-image img{
    width:300px;
    height:300px;
    border-radius:50%;
    background:#dbeafe;
}

/* About */
.about{
    padding:60px;
    text-align:center;
    background:#f3adad;
}

.about-left{
    display:inline-block;
    width:45%;
    text-align:left;
    vertical-align:top;
    padding-right:30px;
}

.about-right{
    display:inline-block;
    width:40%;
    text-align:left;
    vertical-align:top;
    border-left:1px solid #ddd;
    padding-left:30px;
}

.about-left h2{
    font-size:36px;
}

.about-left .line{
    width: 70px;
    height: 3px;
    background: #2563eb;
    margin: 10px 0 20px 0;
}

.about-left p{
    font-size:20px;
    line-height:1.8;
}

.about-right p{
    font-size:20px;
    margin-bottom:20px;
}
/* Skills */
.skills{
    text-align:center;
    padding:60px 20px;
    background:#f3adad;
}

.skills h2{
    font-size:40px;
    margin-bottom:10px;
}

.line{
    width:60px;
    height:3px;
    background:#2563eb;
    margin:0 auto 40px;
}

.skill-box{
    display:inline-block;
    width:180px;
    height:180px;
    background:white;
    margin:15px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    vertical-align:top;
}

.skill-box img{
    width:70px;
    height:70px;
    margin-top:10px;
}

.skill-box h3{
    margin-top:20px;
    font-size:22px;
}

/* Projects */
.projects{
    text-align:center;
    padding:60px;
}

.projects h2{
    font-size:40px;
}

.projects hr{
    width:80px;
    margin:15px auto 40px;
    border:2px solid #2563eb;
}

.project-card{
    display:inline-block;   /* inline-block */
    width:280px;
    border:1px solid #ddd;
    padding:20px;
    margin:15px;
    text-align:left;
}

.project-card img{
    width:100%;
    height:150px;
    background:#eee;
}

.project-card h3{
    margin:15px 0;
}

.project-card p{
    margin-bottom:15px;
}

.project-card a{
    text-decoration:none;
    color:#2563eb;
    font-weight:bold;
}

/* Contact */
.contact{
    text-align:center;
    padding:60px;
}

.contact h2{
    font-size:40px;
}

.contact hr{
    width:80px;
    margin:15px auto 40px;
    border:2px solid #2563eb;
}

form{
    width:80%;
    margin:auto;
}

.left{
    display:inline-block;   /* inline-block */
    width:45%;
    vertical-align:top;
}

.right{
    display:inline-block;   /* inline-block */
    width:45%;
}

input,
textarea{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
}

textarea{
    height:150px;
}

.send-btn{
    padding:15px 35px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

/* Footer */
footer{
    text-align:center;
    padding:20px;
    border-top:1px solid #ddd;
    margin-top:40px;
}

/* Display Property Examples */
.block-example{
    display:block;
}

.inline-example{
    display:inline;
}

.inline-block-example{
    display:inline-block;
}
/* =========================
   Mobile Responsive Design
   ========================= */

@media (max-width:600px){
    .section-line{
    border: none;
    height: 1px;
    background: #ddd;
    width: 60%;
    margin: 0px; 
}

    /* Header */
    header{
        padding:15px;
        text-align:center;
        position:relative;
        background-color: red;
       
       
    }

    .logo{
        display:inline-block;
        text-align:left;
        margin-bottom:15px;
        margin-right:185px;
        font-size:30px;
        
    }

.menu-btn{
    display:inline-block;
    font-size:30px;
    cursor:pointer;
    text-align:right;
    padding:10px 20px;
}

nav{
    display:none;
    width:100%;
    background-color: red;
}

#menu-toggle:checked + .menu-btn + nav{
    display:block;
}

nav ul{
    padding:0;
}

nav ul li{
    display:block;
    text-align:center;
    margin:15px 0;
}

nav ul li a{
    text-decoration:none;
    color:black;
    font-size:18px;
}
    /* Hero Section */
    .hero{
        padding:20px;
        text-align:center;
        background:#f40404;
       
    }

    .hero-text,
    .hero-image{
        display:block;
        width:100%;
    }

    .hero-text h1{
        font-size:40px;
    }

    .hero-text h3{
        font-size:24px;
    }

    .hero-text p{
        font-size:18px;
    }

    .hero-image img{
        width:220px;
        height:220px;
        margin-top:20px;
    }

    /* About Section */
    .about{
        padding:30px 20px;
        background:#f40404;
    }

    .about-left,
    .about-right{
        display:block;
        width:100%;
    }

    .about-right{
        border-left:none;
        padding-left:0;
        margin-top:30px;
    }

    .about-left h2{
        font-size:32px;
        
    }

    /* Skills Section */
    .skills{
        padding:30px 10px;
        background:#f40404;
    }

    .skill-box{
        display:block;
        width:80%;
        margin:15px auto;
    }

    /* Projects Section */
    .projects{
        padding:30px 10px;
        text-align:center;
        background:#f40404;
    }

    .project-card{
        display:block;
        width:90%;
        margin:20px auto;
    }

    .project-card img{
        width:100%;
    }

    /* Contact Section */
    .contact{
        padding:30px 10px;
        background:#f40404;
    }

    form{
        width:100%;
    }

    .left,
    .right{
        display:block;
        width:100%;
    }

    textarea{
        margin-top:10px;
    }

    /* Contact Info Boxes */
    .contact-box{
        display:block;
        width:90%;
        margin:15px auto;

    }

    /* Footer */
    footer{
        padding:15px;
        text-align:center;
        background:#f40404;
    }

    footer i{
        margin:10px;
    }
}
